{% extends 'base.html' %}
{% block content %}
<div class="jumbotron mt-4 text-center">
    <h1 class="display-4">Welcome to the Caregiver Platform</h1>
    <p class="lead">CSCI 341 - Assignment 3 - Part 3</p>
    <hr class="my-4">
    <p>Select an option below to manage database records:</p>
    <a class="btn btn-primary btn-lg" href="/users" role="button">Manage Users</a>
    <a class="btn btn-secondary btn-lg" href="/jobs" role="button">Manage Jobs</a>
    <a class="btn btn-info btn-lg" href="/appointments" role="button">Appointments</a>
    <a class="btn btn-warning btn-lg" href="/applications" role="button">Job Applications</a>
</div>
{% endblock %}