{% extends 'base.html' %}
{% block content %}
<h2>{{ action }} Member</h2>
<form method="POST">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>User ID</label>
            <input type="number" name="user_id" class="form-control" value="{{ user.user_id if user else '' }}" {% if action=='Edit' %}readonly{% endif %} required>
        </div>
        <div class="col-md-6 mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" value="{{ user.email if user else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label>Given Name</label>
            <input type="text" name="given_name" class="form-control" value="{{ user.given_name if user else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label>Surname</label>
            <input type="text" name="surname" class="form-control" value="{{ user.surname if user else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label>City</label>
            <input type="text" name="city" class="form-control" value="{{ user.city if user else '' }}">
        </div>
        <div class="col-md-6 mb-3">
            <label>Phone</label>
            <input type="text" name="phone_number" class="form-control" value="{{ user.phone_number if user else '' }}">
        </div>
        
        <div class="col-md-12 mb-3">
            <label>House Rules</label>
            <textarea name="house_rules" class="form-control">{{ member.house_rules if member else '' }}</textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label>Dependent Description</label>
            <textarea name="dependent_description" class="form-control">{{ member.dependent_description if member else '' }}</textarea>
        </div>

        {% if action == 'Add' %}
        <div class="col-md-6 mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <input type="hidden" name="profile_description" value="">
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">{{ action }} Member</button>
</form>
{% endblock %}
